<h1><%= @channel.name %></h1>
<div class="channels">
  <%= render partial: 'channels' %>
</div>
<div class="chitchat">
  <div class="chat" data-channel-subscribe="channel" data-channel-id="<%= @channel.id %>">
    <% @messages.each do |message| %>
      <div class="message">
        <div class="username">
          <%= message.user %>
        </div>
        <div class="body">
          <small class="time">
            <%= message.created_at.localtime.strftime("%H:%M:%S") %>
          </small>
          <p><%= message.body %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="chit">
    <%= simple_form_for @message, remote: true do |form| %>
      <%= form.input :user, as: :string %>
      <%= form.input :body, as: :string,
                            wrapper: false,
                            label: false,
                            input_html: {
                              class: 'chit-input'
                            }%>
      <%= form.submit "biem", class: "btn btn-biem" %>
      <%= form.input :channel_id, as: :hidden %>
    <% end %>
  </div>
</div>
<script type="application/javascript">
  // Get form element
  const form = document.querySelector('.chit > form'),
    // Get message-body input field
    input = form && form.querySelector('input[name="message[body]"]');
  
  // Check if input field is found
  if (!input) {
    return;
  }
  
  // Add success-handler for AJAX requests by form
  // which clears the message-body input field
  form.addEventListener('ajax:success', function () {
    input.value = '';
  })
</script>
